{{#*inline "page"}}
    <h1>Your Account</h1>

    <div data-augmented-ui="" class="main-card">
        <p>Logged in with user <span class="text-secondary">&quot;{{ username }}&quot;</span>.</p>

        <div class="stats"><strong>{{num_reports}}</strong> reports filed</div>
        {{# if looking_for_jobs }}
            <div class="stats"><strong>looking</strong> for a job</div>
        {{else}}
            <div class="stats"><strong>not</strong> looking for a job</div>
        {{/if}}
        <div class="stats"><strong>{{ current_salary }}$</strong> current salary</div>
        <div class="stats"><strong>{{ custom }}</strong> custom info</div>

        <br>
        <a data-augmented-ui href="/database/{{username}}" class="btn btn-secondary">Manage DB</a>

        <form action="/session/logout" method="post" accept-charset="utf-8">
            <input data-augmented-ui type="submit" name="logout" id="logout" value="logout"/>
        </form>
    </div>
{{/inline}}
{{> default title="Your Account" pagename="profile"}}
